.header-info
  %center
    %h1 UPLOAD ARTWORK

.gray-main-container-upload
  .row
    %center
      %ul.nav.nav-tabs
        %li#upload-tab.active.offset2
          = link_to image_tag('artwork_activo.png', :id => 'artworks-image', :height => '50px'), '#artworks', 'data-toggle' => "tab"
        %li#order-tab
          = link_to image_tag('order_inactivo.png', :id => 'orders-image', :height => '50px'), '#orders', 'data-toggle' => "tab"
  %br
  %br
  %br
  %br
  .row-fluid
    .tab-content
      #artworks.tab-pane.active
        = link_to image_tag('uploadnew.png'), new_artwork_product_path, id: 'link-new'

        #upload-section.span10
          .span12#header_artwork
            %legend
              %center
                .span3
                  IMAGE
                .span3
                  NAME
                .span3
                  ACTIVE
                .span3
                  ACTIONS

          .row.span12#space_artwork

          - @products.each do |product|
            .span12
              %legend
                %center
                  .span3
                    = image_tag product.decorator().featured_image
                  .span3#align_artwork
                    = product.name
                  .span3#align_artwork
                    - if product.active?
                      = image_tag 'paloma.png'
                    - else
                      = image_tag 'tache.png'
                  .span3#align_artwork
                    = link_to 'Edit', edit_artwork_product_path(product), id: 'link-button'
            .row.span12#space_artwork

      #orders.tab-pane
        #upload-section.span10
          .span12#header_artwork
            %legend
              %center
                .span3
                  BUYER
                .span3
                  ADDRESS
                .span3
                  STATUS
                .span3
                  ITEM

          .row.span12#space_artwork

          - @orders.each do |order|
            .span12
              %center
                .span3
                  = order.email
                .span3
                  = order.bill_address.address1.present? && order.bill_address.address2.present? ? order.bill_address.address1 + ' ' + order.bill_address.address2 + ' ' + order.bill_address.city + ' ' + order.bill_address.zip_code + ' ' + order.bill_address.country : ''
                .span3
                  = order.state
                .span3
                  = Product.find(Variant.find(order.variant_ids.first()).product_id).name

            .row.span12#space_artwork


- content_for :javascript do
  $('#order-tab').click(function(event){
  event.preventDefault();
  $('#artworks-image').attr('src', '/assets/artworks_inactivo.png');
  $('#orders-image').attr('src', '/assets/order_activo.png');
  $('.header-info').html('<div class="header-info"><center><h1> ORDERS </h1></center></div>');
  });

  $('#upload-tab').click(function(event){
  event.preventDefault();
  $('#artworks-image').attr('src', '/assets/artwork_activo.png');
  $('#orders-image').attr('src', '/assets/order_inactivo.png');
  $('.header-info').html('<div class="header-info"><center><h1> UPLOAD ARTWORK </h1></center></div>');
  });