.header-info
  %center
    %h1 UPLOAD ARTWORK

.gray-main-container-upload
  .row-fluid
    %ul.nav.nav-tabs
      %li#upload-tab.active
        = link_to image_tag('artworks.png', :id => 'artworks-image' ), '#artworks', 'data-toggle' => "tab"
      %li#order-tab
        = link_to image_tag('orders.png', :id => 'orders-image'), '#orders', 'data-toggle' => "tab"


    .tab-content
      #artworks.tab-pane.active
        = link_to image_tag('uploadnew.png'), new_artwork_product_path, id: 'link-new'

        #upload-section.span10
          .span12#header_artwork
            %legend
              %center
                .span3
                  IMAGE
                .span3
                  NAME
                .span3
                  ACTIVE
                .span3
                  ACTIONS

          .row.span12#space_artwork

          - @products.each do |product|
            .span12
              %legend
                %center
                  .span3
                    = image_tag product.decorator().featured_image
                  .span3#align_artwork
                    = product.name
                  .span3#align_artwork
                    - if product.active?
                      = image_tag 'paloma.png'
                    - else
                      = image_tag 'tache.png'
                  .span3#align_artwork
                    = link_to 'Edit', edit_artwork_product_path(product), id: 'link-button'
            .row.span12#space_artwork

      #orders.tab-pane
        #upload-section.span10
          %legend
            %center
              .span3
                BUYER
              .span3
                ADDRESS
              .span2
                STATUS
              .span2
                ITEM
              .span2
                ACTIONS

          .row.span12#space_artwork

- content_for :javascript do
  $('#order-tab').click(function(event){
  event.preventDefault();
  $('#artworks-image').attr('src', '/assets/orders.png');
  $('#orders-image').attr('src', '/assets/artworks.png');
  $('.header-info').html('<div class="header-info"><center><h1> ORDERS </h1></center></div>');
  });

  $('#upload-tab').click(function(event){
  event.preventDefault();
  $('#orders-image').attr('src', '/assets/artworks.png');
  $('#artworks-image').attr('src', '/assets/orders.png');
  $('.header-info').html('<div class="header-info"><center><h1> UPLOAD ARTWORK </h1></center></div>');
  });