.header-info
  %center
    %h1 GET STARTED

.gray-main-container
  %center
    = image_tag '/assets/signup-step1.png', class: 'signup-steps'
  .row-fluid
    #edit_user_section.span6
      = form_for @user, :url => customer_registrations_path(@user)  do |f|
        %fieldset.basic-info
          = f.fields_for :profile do |profile_form|
            %center
              .span5
                = profile_form.text_field :username, placeholder: 'Username'

                = f.text_field :email, placeholder: 'Email'
                %br
                = f.password_field :password, placeholder: 'Password'
                %br
                = f.password_field :password_confirmation, placeholder: 'Password confirmation'
                %br

                = f.label :artist do
                  = f.check_box :artist
                  Artist

                  %label
                    %input{type: 'checkbox'}
                    Collector
        %div
          = submit_tag 'Sign Up', class: 'pull-right'
          %label
            I agree with the Terms of Use and Privacy Policy
            = check_box_tag :accept
        - content_for :javascript do
          $('#user_profile_attributes_birth_date').datepicker();
