.header-info
  %center
    %h1 GET STARTED

.gray-main-container
  %center
  .row-fluid
    #edit_user_section.span6
      = form_for @user, :url => customer_registrations_path(@user)  do |f|
        %fieldset.basic-info
          = f.fields_for :profile do |profile_form|
            %center
              = f.text_field :first_name, placeholder: 'Username'

              = f.text_field :email, placeholder: 'Email'
              %br
              = f.password_field :password, placeholder: 'Password'
              %br
              = f.password_field :password_confirmation, placeholder: 'Password confirmation'
              %br

              .row-fluid
                .span4
                  Artist
                  = f.radio_button :artist, 1, {class: 'check'}
                .span4
                  Collector
                  = f.radio_button :artist, 0, {class: 'check'}
                .span4
                  Galleries
                  = f.radio_button :artist, 1, {class: 'check'}
        %div
          = submit_tag '', class: 'pull-right'
          %label
            %a#terms I agree with the Terms of Use and Privacy Policy
            = check_box_tag :accept

            = render partial: 'shared/terms_modal'

        - content_for :javascript do
          $('#user_profile_attributes_birth_date').datepicker();
          /$('#terms').click(function(){$('#terms_service').toggle();});

