.row-fluid#carousel-index
  .span12
    #myCarousel.carousel.slide
      .carousel-inner
        - Product.last(10).each_with_index do |product, index|
          .item.row{class: "#{'active' if index==0}"}
            = link_to product_path(product) do
              .span5.offset1
                = image_tag product.decorator().featured_image(:large)
              .span4
                %h2= product.name
                %p= product.description.html_safe

      %a.carousel-control.left{"data-slide" => "prev", :href => "#myCarousel"} ‹
      %a.carousel-control.right{"data-slide" => "next", :href => "#myCarousel"} ›
    //= image_tag '/assets/featured-ribbon.png', class: 'featured-ribbon'

- content_for :javascript do
  $('.carousel').carousel();

  $container = $('#recent-products-container');
  $(window).load(function(){
  $container.masonry();
  });