.row-fluid.span12#carousel-index
  .span12
    #myCarousel.carousel.slide
      .carousel-inner
        - Product.last(3).each_with_index do |product, index|
          .item.row{class: "#{'active' if index==0}"}
            = link_to product_path(product) do
              .span12
                = image_tag 'banners/banner'+index.to_s+'_1200.png', :id => 'banners_'+index.to_s
              .span4
                %h2= product.name
                %p= product.description.html_safe

      %a.carousel-control.left{"data-slide" => "prev", :href => "#myCarousel", :id => "carousel-control-left"} ‹
      %a.carousel-control.right{"data-slide" => "next", :href => "#myCarousel", :id => "carousel-control-right"} ›
      %a
        = image_tag 'rectangulo_header.png', :id => 'publicidad-header'
        %div#nombre-publicidad
          %span
            SIGN UP NOW!
            #contenido-publicidad
              Use Facebook or Twitter
          %br
          %span
            ALL CITY CANVAS PRINTS
            #contenido-publicidad
              Get your ACCxTD prints!
          %br
          %span
            FREE SHIPPING
            #contenido-publicidad
              Launching promotion!
              %br


- content_for :javascript do
  $('.carousel').carousel();

  $container = $('#recent-products-container');
  $(window).load(function(){
  $container.masonry();
  });