<a href="<%= collection_path %>"><img src="<%= featured_image %>">
<div class="collection-description">
  <span class="name">
    <%= name %>
  </span>
  <br>
  <%= description %>
  <br>
  <%= artworks_count %> artworks
</div>
</a>

