.header-info
  %center
    %h1 UPLOAD ARTWORK

.gray-main-container-upload
  .row-fluid#content_info_upload
    #upload-section.span10
      = form_for ['artwork', @product], html: {multipart: true} do |form|
        = form.error_messages
        .span6
          %fieldset{rel: 'popover', 'data-content' => 'Fill the name and the description of the artwork and upload the best photo to share with the world.', 'data-original-title' => 'Basic Information', 'data-placement' => 'bottom', 'data-trigger' => 'hover'}
            %legend BASIC INFORMATION
            .row-fluid
              .span5
                .add-image
                  = image_tag '/assets/choose-image.png', :id => 'product_image'
                .image-information
                  %span
                    Max size of 3Mb, JPG or PNG

                  .image-details
                    - @product.images.each do |image|
                      %span
                        = image.photo_file_name

              .span7
                = form.text_field :name, class: 'span12', placeholder: 'NAME OF ARTWORK'

                = form.text_area :description, class: 'tinymce', style: 'height: 200px; width: 100%;', placeholder: 'DESCRIPTION'

        .span5
          %fieldset{rel: 'popover', 'data-content' => 'Help us to make easier to promote your art.', 'data-original-title' => 'Details', 'data-placement' => 'bottom', 'data-trigger' => 'hover'}
            %legend DETAILS
            = form.text_field :set_keywords, placeholder: 'SEPARATE KEYWORDS WITH A COMMA'

            = form.select :product_type_id, nested_set_options(ProductType) {|i, level| "#{'-' * level} #{i.name}" }

            = form.label 'CHOOSE THE MAIN COLORS OF YOUR ARTWORK', class: 'main-colors'
            - @colors.each do |color|
              .span3
                - case color[1]
                  - when 1
                    = image_tag('bgris.png', :class => 'span3' )
                  - when 2
                    = image_tag('bamarillo.png', :class => 'span3' )
                  - when 3
                    = image_tag('bcafe.png', :class => 'span3' )
                  - when 4
                    = image_tag('bblanco.png', :class => 'span3' )
                  - when 5
                    = image_tag('bnaranja.png', :class => 'span3' )
                  - when 6
                    = image_tag('bnegro.png', :class => 'span3' )
                  - when 7
                    = image_tag('brgis.png', :class => 'span3' )
                  - when 8
                    = image_tag('brojo.png', :class => 'span3' )
                  - when 9
                    = image_tag('brosa.png', :class => 'span3' )
                  - when 10
                    = image_tag('bverde.png', :class => 'span3' )
                  - when 11
                    = image_tag('bkg_dark.png', :class => 'span3' )

                = form.check_box(:property_value_ids, { :multiple => true, class: 'span3' }, color[1], nil)

            = form.hidden_field :shipping_category_id
            = form.hidden_field :tax_category_id

        .span12.border-artwork

        .span5.original-artwork
          %fieldset#original-artwork{rel: 'popover', 'data-content' => 'Tell us the information of the original artwork.', 'data-original-title' => 'Original Artwork', 'data-placement' => 'bottom', 'data-trigger' => 'hover'}
            %legend ORIGINAL ARTWORK
            = hidden_field_tag 'product[variants_attributes][][name]', 'Original'
            = hidden_field_tag 'product[variants_attributes][][sku]', "#{@product.id}-Original"
            = hidden_field_tag 'product[variants_attributes][][product_id]', @product.id
            = hidden_field_tag 'product[variants_attributes][][id]', @product.original_variant.id if @product.original_variant.present?

            = text_field_tag 'product[variants_attributes][][price]', @product.original_variant.try(:price), class: 'required span10', placeholder: 'PRICE TO THE PUBLIC'

            = text_field_tag 'product[variants_attributes][][cost]', @product.original_variant.try(:cost), disabled: :disabled, class: 'span10', placeholder: 'YOUR PROFIT'

            = text_field_tag 'product[variants_attributes][][size][width]', (@product.original_variant.size['width'] if @product.original_variant) , class: 'span5', placeholder: 'WIDTH'
            = text_field_tag 'product[variants_attributes][][size][height]', (@product.original_variant.size['height'] if @product.original_variant), class: 'span5', placeholder: 'HEIGHT'
            = select_tag 'product[variants_attributes][][size][measures]', options_for_select([['Cms.','cms'],['Inch.','inch']], (@product.original_variant.size['measures'] if @product.original_variant)), prompt: 'SELECT A MEASURE', class: 'span9'
            = hidden_field_tag 'product[variants_attributes][][inventory_attributes][count_on_hand]', 1

            = label_tag 'ARTWORK AUCTION', nil, class: 'artwork-auction span5'
            = check_box_tag 'artwork_auction', '1', @product.auction.present?, class: 'span4'
            %br

            .auction-config
              = text_field_tag 'product[auction_attributes][minimum_bid]', @product.auction.try(:minimum_bid), placeholder: 'MINIMUM BID AMOUNT', class: 'span10'
              = text_field_tag 'product[auction_attributes][deadline]', @product.auction.try(:deadline), placeholder: 'WHAT TIME THE AUCTION ENDS?', class: 'span10'

            %br
            = link_to image_tag('boton1.jpg'), '', id: 'add-print-button'

        .span6#prints-container.hide
          - @product.print_variants.each do |variant_print|
            %fieldset
              %legend PRINT
              = link_to 'X', '', class: 'close-print'
              = hidden_field_tag 'product[variants_attributes][][name]', 'PRINT'
              = hidden_field_tag 'product[variants_attributes][][sku]', variant_print.sku

              = text_field_tag 'product[variants_attributes][][price]', variant_print.price, class: 'required span10',  placeholder: 'PRICE TO THE PUBLIC'

              = text_field_tag 'product[variants_attributes][][cost]', variant_print.cost, disabled: :disabled, class: 'span10', placeholder: 'YOUR PROFIT'

              = text_field_tag 'product[variants_attributes][][size][width]', variant_print.size['width'], class: 'span5', placeholder: 'WIDTH'
              = text_field_tag 'product[variants_attributes][][size][height]', variant_print.size['height'], class: 'span5', placeholder: 'HEIGHT'
              = select_tag 'product[variants_attributes][][size][measures]', options_for_select([['Cms.','cms'],['Inch.','inch']], variant_print.size['measures']), prompt: 'SELECT A MEASURE', class: 'span9'

              = text_field_tag 'product[variants_attributes][][inventory_attributes][count_on_hand]', variant_print.inventory.count_on_hand, class: 'required span9', placeholder: 'PRINTS AVAILABLE TO SELL'
              .control-group
                .controls
                  = link_to 'delete', artwork_product_variant_path(variant_print.product_id, variant_print), confirm: 'Are you sure you want to delete this print?', method: :delete
              = hidden_field_tag 'product[variants_attributes][][product_id]', variant_print.product_id

        .span12.border-artwork

        .span5
          = form.submit 'UPDATE'

      .span#print-template.hide
        %fieldset
          .span12
            %legend PRINT
            = link_to 'X', '', class: 'close-print'
            = hidden_field_tag 'product[variants_attributes][][name]', 'PRINT'
            = hidden_field_tag 'product[variants_attributes][][sku]', "#{@product.id}-Print"

            = text_field_tag 'product[variants_attributes][][price]','', class: 'required span10', placeholder: 'PRICE TO THE PUBLIC'

            = text_field_tag 'product[variants_attributes][][cost]', '', disabled: :disabled, class: 'span10', placeholder: "YOUR PROFIT"

            = text_field_tag 'product[variants_attributes][][size][width]', '', class: 'span5', placeholder: 'WIDTH'
            = text_field_tag 'product[variants_attributes][][size][height]', '', class: 'span5', placeholder: 'HEIGHT'
            = select_tag 'product[variants_attributes][][size][measures]', options_for_select([['Cms.','cms'],['Inch.','inch']]), prompt: 'SELECT A MEASURE', class: 'span9'

            = text_field_tag 'product[variants_attributes][][inventory_attributes][count_on_hand]', '', class: 'required span9', placeholder: 'PRINTS AVAILABLE TO SELL'

            = hidden_field_tag 'product[variants_attributes][][product_id]', @product.id
          %br


- content_for :head do
  = tinymce_assets
  :css
    .chzn-results, .chzn-container {
      width: 250px;
    }

- content_for :javascript do
  $('#product_product_type_id').chosen();
  $('#product_property_value_ids').chosen();

  $('form[id*=edit_product]').validate({
  rules: {
  'product[name]' : {minlength: 3, required: true},
  'product[address_attributes][address1]' : {minlength: 5, required: true},
  'product[address_attributes][country]' : {required: true},
  'product[address_attributes][state]' : {required: true},
  'product[address_attributes][city]' : {minlength: 5, required: true},
  'product[address_attributes][zip_code]' : {required: true},
  },
  highlight: function(label) {
  $(label).closest('.control-group').addClass('error');
  }
  });

  $('#original-artwork-button').click(function(){
  $('#original-artwork').toggle();
  if($('#original-artwork').is(':visible')) {
  $('#original-artwork').html($('#original-template').html());
  } else {
  $('#original-artwork').html('');
  }
  $('#original-artwork input[name="product[variants_attributes][][price]"]').rules('add', {required: true});
  $('#original-artwork input[name="product[variants_attributes][][size][width]"]').rules('add', {required: true, messages: {required: false}});
  $('#original-artwork input[name="product[variants_attributes][][size][height]"]').rules('add', {required: true, messages: {required: false}});
  $('#original-artwork select[name="product[variants_attributes][][size][measures]"]').rules('add', {required: true, messages: {required: false}});

  });

  $('#add-print-button').click(function(event){
  event.preventDefault();
  $('#prints-container').append($('#print-template').html()).show(500);
  validateVariant();
  });

  $('.close-print').live('click',function(event){
  event.preventDefault();
  $($(this).parent().parent()).hide(500).remove();
  });


  $('select#product_address_attributes_country').change(function(event) {
  select_wrapper = $('#order_state_code_wrapper');
  $('select', select_wrapper).attr('disabled', true);
  country_code = $(this).val();
  url = "/subregion_options?parent_region=" + country_code + "&form_address_object=product[address_attributes]";
  select_wrapper.load(url);
  });

  function validateVariant() {
  $('form input[name="product[variants_attributes][][price]"]').rules('add', {required: true});
  $('form input[name="product[variants_attributes][][size][width]"]').rules('add', {required: true, messages: {required: false}});
  $('form input[name="product[variants_attributes][][size][height]"]').rules('add', {required: true, messages: {required: false}});
  $('form select[name="product[variants_attributes][][size][measures]"]').rules('add', {required: true, messages: {required: false}});
  }

  $('.add-image').click(function() {
  buttonAddImage = $(this);
  fileInput =  $('<input/>').attr('type','file').attr('name','product[images_attributes][][photo]').addClass('hide');

  fileInput.change(function() {
  updateImage(this,'product_image');
  $('.image-details').html($('<span/>').html(this.files[0].name));
  $('.image-details').append(fileInput);
  });
  fileInput.click();
  });

  - if @product.original_variant.present?
    $('#original-artwork-button').trigger('click');

  $('#product_variants_attributes__price').live('keyup', function(){
  price = $(this).val();
  cost = (price * .5)
  costInput = $(this).closest('fieldset').find('#product_variants_attributes__cost');
  console.log(costInput);
  costInput.val(cost);
  });

  $('[rel=popover]').popover();

  $('#artwork_auction').change(function() {
  if($(this).attr('checked'))
  $('.auction-config').show(500);
  else
  $('.auction-config').hide(500);
  });

  $(function() {
  if($('#artwork_auction').attr('checked'))
  $('.auction-config').show(500);
  else
  $('.auction-config').hide(500);
  });

= tinymce :theme => "simple"