<a href="<%= profile_path %>"><img src="<%= featured_artwork %>" height="<%= image_height %>" width="220" style="width:220px;height:<%= image_height%>px">
<div class="collection-description">
  <span class="name">
    <%= name %>
  </span>
  <br>
  <%= about %>
  <br>
  <%= artworks_count %> artworks
</div>
</a>

