.row-fluid#user-profile
  .span10
    .profile-header
      %h1= link_to(@user.name.upcase, '/' + @user.profile.username, class: 'name-profile')
      = @user.artist? ? image_tag('artist_icon.png') : image_tag('hallist_icon.png')
      %span{:class => 'share-button-profile', :data => {:url => request.url }}
        = link_to( image_tag('facebookGREEN.png'), '', :onclick => 'postToFeed(); return false;')
      = link_to('Edit Profile >', edit_myaccount_overview_path, class: 'edit-link') if @user.user.id == current_user_id
      %p= @user_profile.city

    .bio
      %p= @user_profile.about.html_safe if @user_profile.about.present?

    .social
      - artist = User.find(@user_profile.user_id).brand.artist
      = link_to_if @user_profile.website.present?, @user_profile.website, url_with_protocol(@user_profile.website), target: '_blank'
      .follow-button
        = follow_link(artist)

  .span2
    = image_tag @user.featured_avatar(:profile)


.row-fluid#social-menu
  .span12
    .row
      = link_to("My Work ·", profile_path(id: @user.id, artwork_type: 'works')) if @user.artist?
      = link_to "My Collections ·", profile_path(id: @user.id, artwork_type: 'collections')
      = link_to "My Likes", profile_path(id: @user.id, artwork_type: 'likes')

    .row.follow-numbers
      = link_to "#{@user.followers.count} Followers", profile_path(id: @user.id, artwork_type: 'followers'), id: 'followers-num'
      %span ∙
      = link_to "#{@user.followings.count} following", profile_path(id: @user.id, artwork_type: 'followings')

.row-fluid.user-products
- if @products.blank? and @user.artist?
  - if params[:artwork_type] == 'collections' and !@collections.present?
    %p.no-products= "No collections to show yet."
  - elsif params[:artwork_type] == 'works'
    %p.no-products= "No works to show yet."
  - elsif params[:artwork_type] == 'likes'
    - if !@likes.blank?
      #products
    - else
      %p.no-products= "No likes to show yet."
  - elsif params[:artwork_type] == 'followers' || params[:artwork_type] == 'followings'
    - @artists.each do |artist|
      = render partial: 'artists/artist', locals: {artist: artist}
  - elsif @collections.present?
    .span12.profile-collections.my-profile
      - @collections.each do |collection|
        = render partial: 'collections/collection', locals: {collection: collection}
  - else
    #products
- elsif params[:artwork_type] == 'collections'
  - if !@collections.blank?
    .span12.profile-collections.my-profile
      - @collections.each do |collection|
        = render partial: 'collections/collection', locals: {collection: collection}
  - else
    %p.no-products= "No collections to show yet."
- elsif params[:artwork_type] == 'likes'
  - if !@likes.blank?
    #products
  - else
    %p.no-products= "No likes to show yet."
- elsif params[:artwork_type] == 'works'
  #products
- elsif params[:artwork_type] == 'followers' || params[:artwork_type] == 'followings'
  - @artists.each do |artist|
    = render partial: 'artists/artist', locals: {artist: artist}
- elsif @collections.present?
  .span12.profile-collections.my-profile
    - @collections.each do |collection|
      = render partial: 'collections/collection', locals: {collection: collection}
- else
  - if @collections.present?
    #products
  - else
    %p.no-products= "No collections to show yet."



- content_for :javascript do
  $(window).load(function() {
  $container = $('#products');
  $container.masonry({ isFitWidth: true, columnWidth: 240 });
  $('.profile-collections').masonry({isFitWidth: true});
  - if @likes.present?
    window.router = new Arto.Routers.ProductsRouter({products: #{@likes}});
    Backbone.history.start({pushState: true});
    window.scrollInfinite.active = false;
  - elsif @products.present?
    window.router = new Arto.Routers.ProductsRouter({products: #{@products}});
    Backbone.history.start({pushState: true});
    window.scrollInfinite.active = false;

  // Settings for social share actions
  var Share = {};
  Share.link = "#{request.url}";
  Share.name = "#{@user.profile.username.upcase}";
  Share.description =  "#{@user_profile.about.html_safe}";
  Share.picture = "#{@user.featured_avatar(:profile)}";
  window.Share = Share;
  });