%fieldset.basic-info
  %legend Basic info
  = f.fields_for :profile do |profile_form|

    .span4
      %center.add-image.span12
        = image_tag @user.featured_avatar(:profile).present? ?  @user.featured_avatar(:profile) : '/assets/avatarphoto.png', :id => 'product_image'

      .image-information.span12
        %center.image-center
          .image-details
            = label_tag Profile.find_by_user_id(@user.id).avatar_file_name
            = profile_form.file_field :avatar, class: 'file-field-avatar'
          %p.size_image
            Max size of 3Mb, JPG or PNG
            %p.size_image#error_file_size.hidden
              "Load New Image"

    .span5
      = profile_form.text_field :username, placeholder: 'USERNAME'

      = f.text_field :email, placeholder: 'EMAIL'
      %br
      = f.text_field :first_name, placeholder: 'FIRST NAME'
      %br
      = f.text_field :last_name, placeholder: 'LAST NAME'
      %br
      = profile_form.text_field :city, placeholder: 'CITY'
      %br

%fieldset.social-web-info
  %legend Profile
  .social-info
    = f.fields_for :profile do |profile_form|
      = profile_form.text_field :facebook, placeholder: 'FACEBOOK URL'
      %br
      = profile_form.text_field :twitter, placeholder: 'TWITTER URL'
      %br
      = profile_form.text_field :pinterest, placeholder: 'PINTEREST URL'
      %br
      = profile_form.text_field :instagram, placeholder: 'INSTAGRAM URL'
      %br

  .web-info
    = f.fields_for :profile do |profile_form|
      = profile_form.text_field :website, placeholder: 'WEBSITE'
      %br
      = profile_form.text_area :about, placeholder: 'ABOUT YOU', rows: '7', cols: '28'
      = label_tag '', 'YOU HAVE 325 CHARACTER', id:'error_caracteres', class: 'error-about-character'
      %br


%fieldset.social-apps
  %legend Connected apps
  .app
    - if current_user.facebook_authentication 
      %h3 Facebook is connected
    - else
      = link_to "Connect to Facebook", "/auth/facebook"

    - if current_user.twitter_authentication
      %h3 Twitter is connected
    - else
      = link_to "Connect to Twitter", "/auth/twitter"

  .app

- content_for :javascript do
  $('#user_profile_attributes_birth_date').datepicker();

  $('.add-image').click(function() {
  buttonAddImage = $(this);
  fileInput =  $('<input/>').attr('type','file').attr('name','user[profile_attributes][avatar]').addClass('hide');
  fileInput.change(function() {
  var iSize = (this.files[0].size / 1024);
  if (Math.round((iSize / 1024) * 100) / 100 < 3){
  updateImage(this,'product_image');
  $('.image-details').html($('<span/>').html(this.files[0].name));
  $('.image-details').append(fileInput);
  $('.size_image').addClass('load-file-size');
  $('#error_file_size').addClass('hidden');
  }else{
  $('.size_image').removeClass('load-file-size');
  $('.size_image').addClass('error-file-size');
  $('#error_file_size').removeClass('hidden');
  }
  });
  fileInput.click();
  });

  $('#user_profile_attributes_about').keydown(function(e){
  valida_longitud()
  });

  $('#user_profile_attributes_about').keyup(function(e){
  valida_longitud()
  });

  contenido_about = "";
  num_caracteres_permitidos = 325;

  function valida_longitud(){
  num_caracteres = $('#user_profile_attributes_about')[0].value.length;

  if (num_caracteres > num_caracteres_permitidos){
  $('#user_profile_attributes_about')[0].value = contenido_about;
  }else{
  contenido_about = $('#user_profile_attributes_about')[0].value;
  }

  if (num_caracteres >= num_caracteres_permitidos){
  $('#error_caracteres')[0].style.color="#ff0000";
  }else{
  $('#error_caracteres')[0].style.color="#6E6B6B";
  }
  cuenta_caracteres()
  }

  function cuenta_caracteres(){
  $('#error_caracteres')[0].textContent = 'YOU HAVE ' + (num_caracteres_permitidos - $('#user_profile_attributes_about')[0].value.length) + ' CHARACTER';
  }
