%fieldset.basic-info
  %legend Basic info
  = f.fields_for :profile do |profile_form|

    .span4
      = profile_form.label :avatar
      = image_tag @user.featured_avatar(:profile), :id => 'product_image'
      = profile_form.file_field :avatar, :id => 'add-image'

    .span5
      = profile_form.text_field :username, placeholder: 'USERNAME'

      = f.text_field :email, placeholder: 'EMAIL'
      %br
      = f.text_field :first_name, placeholder: 'FIRST NAME'
      %br
      = f.text_field :last_name, placeholder: 'LAST NAME'
      %br
      = profile_form.text_field :city, placeholder: 'CITY'
      %br

%fieldset.social-web-info
  %legend Profile
  .social-info
    = f.fields_for :profile do |profile_form|
      = profile_form.text_field :facebook, placeholder: 'FACEBOOK URL'
      %br
      = profile_form.text_field :twitter, placeholder: 'TWITTER URL'
      %br
      = profile_form.text_field :pinterest, placeholder: 'PINTEREST URL'
      %br
      = profile_form.text_field :instagram, placeholder: 'INSTAGRAM URL'
      %br

  .web-info
    = f.fields_for :profile do |profile_form|
      = profile_form.text_field :website, placeholder: 'WEBSITE'
      %br
      = profile_form.text_area :about, placeholder: 'ABOUT YOU', rows: '7'
      %br


%fieldset.social-apps
  %legend Connected apps
  .app
    - if current_user.facebook_authentication 
      %h3 Facebook is connected
    - else
      = link_to "Connect to Facebook", "/auth/facebook"

    - if current_user.twitter_authentication
      %h3 Twitter is connected
    - else
      = link_to "Connect to Twitter", "/auth/twitter"

  .app

- content_for :javascript do
  $('#user_profile_attributes_birth_date').datepicker();
