= form_tag(pay_shopping_creditcard_checkout_path,:method => :post) do
  = text_field_tag(:name, @credit_card.name , :placeholder => 'NAME IS AT APPEARS ON YOUR CARD*')

  = text_field_tag(:number, @credit_card.number , :placeholder => 'CARD NUMBER*')

  = select_tag(:type, options_for_select(['visa', 'mastercard']))

  = text_field_tag(:verification_value, @credit_card.verification_value , :placeholder => 'CVV')

  = select_tag(:month, options_for_select(['01', '02',  '03', '04', '05', '06', '07', '08', '09', '10', '11', '12']))

  = select_tag(:year, options_for_select((Time.zone.now.year..(Time.zone.now.year + 10))))

  = hidden_field_tag(:total, @order.total)
  - products = []
  - @order.order_items.each do |item, index|
    - products.push("#{item.variant.product.id}-#{item.variant.product.name}-#{item.price}")
  = hidden_field_tag(:products, products)

  = submit_tag 'Complete Order' , class: 'complete-order pull-right'