.row-fluid
  #checkout_section.span10
    - @order.order_items.each do |item|
      %fieldset.basic-info
        .row-fluid.span6
          .span4
            = image_tag item.variant.product.decorator().featured_image(:small)
          .span6
            #name-product
              = item.variant.product.name
            #description-product
              = User.find_by_brand_id(item.variant.product.brand_id).first_name

        .span6
          %legend
            %center
              .span4
                1
              .span4
                USD
                = number_to_currency item.price
              .span4
                USD
                = number_to_currency item.price
    %br

      %fieldset.basic-info
        .span6
        #total.span6
          %legend
            %center
              .charge-title.span4
                Total:
              .span4
                = select_tag("select_divisa", options_for_select(['USD', 'MXN']), { :class => 'span6 divisas' })
              .span4#total_item
                = number_to_currency @order.total || 0


      %fieldset.social-web-info
        .row-fluid#shipping-address
          = form_tag(pay_shopping_creditcard_checkout_path,:method => :post, :class => 'span12') do
            .row-fluid
              .span6.shipping-border
                %legend 2. SHIPPING ADDRESS
                .social-info.span12
                  %span.help-block
                    *Please fill your shipping address before checkout.
                  = text_field_tag 'ship_address_first_name', @order.ship_address.try(:first_name), placeholder: 'FIRST NAME*', class: 'span7'
                  %br
                  = text_field_tag 'ship_address_last_name', @order.ship_address.try(:last_name), placeholder: 'LAST NAME*', class: 'span7'
                  %br
                  = text_field_tag 'ship_address_address1', @order.ship_address.try(:address1), placeholder: 'STREET ADDRESS*', class: 'span7'
                  %br
                  = text_field_tag 'ship_address_address2', @order.ship_address.try(:address2), placeholder: 'APT/FLR/BLDG', class: 'span7'
                  %br
                  = text_field_tag 'ship_address_city', @order.ship_address.try(:city), placeholder: 'CITY*', class: 'span7'
                  %br
                  = country_select_tag 'ship_address_country', {priority: %w(US CA MX), prompt: 'Please select a country'}, placeholder: 'Select Country', class: 'span7'
                  %br
                  = text_field_tag 'ship_address_zip_code]', @order.ship_address.try(:zip_code), placeholder: 'ZIP CODE*', class: 'span7'

              .span6
                %legend 3. PAYMENT METHOD
                .span4#credit
                  = radio_button_tag :payment_method, 'card', true
                  %span
                  = image_tag 'mastercard.png', :class => 'imagenes-pago'
                  %span
                  %span
                  = image_tag 'visa.png', :class => 'imagenes-pago'
                .span4#oxxo
                  = radio_button_tag :payment_method, 'oxxo'
                  %span
                  = image_tag 'oxxo.png', :class => 'imagenes-pago'
                %br

                .web-info#credit_card_payment
                  = text_field_tag(:name, @credit_card.name , :placeholder => 'NAME AS IT APPEARS ON YOUR CARD*', :class => 'span8')
                  %div#error_card_name.buena.span3
                    * Name is a required field
                  = text_field_tag(:number, @credit_card.number , :placeholder => 'CARD NUMBER*', :class => 'span8')
                  %div#error_card_number.buena.span3
                    * Card number is incorrect
                  = text_field_tag(:verification_value, @credit_card.verification_value , :placeholder => 'CVV*', :class => 'span8')
                  %div#error_card_cvc.buena.span3
                    * CVV is incorrect
                  %br
                  = select_tag(:month, options_for_select(['01', '02',  '03', '04', '05', '06', '07', '08', '09', '10', '11', '12']), { :class => 'span4' })

                  = select_tag(:year, options_for_select((Time.zone.now.year..(Time.zone.now.year + 10))), { :class => 'span4' })

                  = text_field_tag(:address_credit, '', :placeholder => 'ADDRESS*', :class => 'span8')
                  %br

                  = text_field_tag(:state, '', :placeholder => 'STATE*', :class => 'span4')

                  = text_field_tag(:city, '', :placeholder => 'CITY*', :class => 'span4')
                  %br

                  //= country_select_tag 'order[ship_address_attributes][country]', {priority: %w(US CA MX), prompt: 'Please select a country'}, {:class => 'span4'}
                  = text_field_tag(:country, '', :placeholder => 'COUNTRY*', :class => 'span4')

                  = text_field_tag(:zip, '', :placeholder => 'ZIP*', :class => 'span4')

                  = hidden_field_tag(:total, @order.total)
                  = hidden_field_tag(:currency, 'USD')
                  - products = []
                  - @order.order_items.each do |item, index|
                    - products.push("#{item.variant.product.id}-#{item.variant.product.name} ,")
                  = hidden_field_tag(:products, products)
                  %br

                  %span#siteseal
                    %script{type: 'text/javascript', src:'https://seal.godaddy.com/getSeal?sealID=hFpmKOe1nFTz1D0JePmpnEpKMe7tLZrKKTTO075feiBPI2prRql'}

                  = submit_tag '' , {:disabled => true, class: 'complete-order', id: 'complete_order'}

                .web-info#oxxo_payment
                  = hidden_field_tag(:total, @order.total)
                  = hidden_field_tag(:currency, 'USD')
                  - products = []
                  - @order.order_items.each do |item, index|
                    - products.push("#{item.variant.product.id}-#{item.variant.product.name}")
                  = hidden_field_tag(:products, products)
                  %br
                  %br
                  * YOU WILL RECEIVE AN ORDER CONFIRMATION ONCE YOU COMPLETE THE PROCESS. THEN YOU SHOULD USE THIS INFORMATION TO PAY AT YOUR NEAREST OXXO.
                  %br
                  %br
                  = submit_tag '' , {class: 'complete-order', id: 'complete_oxxo'}

- content_for :javascript do
  var card_name = false,
  card_number = false,
  card_cvc = false;

  $('#name').live('keyup',function(){
  if($(this).val() != ''){
  correct('name');
  card_name = true;
  $('#complete_order')[0].disabled = enable_submit();
  } else{
  error('name');
  card_name = false;
  $('#complete_order')[0].disabled = enable_submit();
  }
  });
  $('#number').live('keyup',function(){
  if(Conekta.card.validateNumber($(this).val())){
  correct('number');
  card_number = true;
  $('#complete_order')[0].disabled = enable_submit();
  } else{
  error('number');
  card_number = false;
  $('#complete_order')[0].disabled = enable_submit();
  }
  });
  $('#verification_value').live('keyup',function(){
  if(Conekta.card.validateCVC($(this).val())){
  correct('cvc');
  card_cvc = true;
  $('#complete_order')[0].disabled = enable_submit();
  } else{
  error('cvc');
  card_cvc = false;
  $('#complete_order')[0].disabled = enable_submit();
  }
  });

  $('#oxxo').live('change',function(){
  $('#credit_card_payment').removeClass('mala');
  $('#credit_card_payment').addClass('buena');
  $('#oxxo_payment').removeClass('buena');
  $('#oxxo_payment').addClass('mala');
  });

  $('#credit').live('change',function(){
  $('#oxxo_payment').removeClass('mala');
  $('#credit_card_payment').addClass('mala');
  });

  function correct(input){
  $('#error_card_'+input).removeClass('mala');
  $('#error_card_'+input).addClass('buena');
  }

  function error(input){
  $('#error_card_'+input).removeClass('buena');
  $('#error_card_'+input).addClass('mala');
  }

  function enable_submit(){
  if(card_name && card_number && card_cvc){
  return false;
  }else{
  return true;
  }
  }

  $('#select_divisa').live('change',function(){
  var value = $(this).val(), rate, exchange;
  var url = "https://query.yahooapis.com/v1/public/yql?q=select%20*%20from%20yahoo.finance.xchange%20where%20pair%20in%20(%22USD"+value+"%22)&format=json&env=store://datatables.org/alltableswithkeys";
  $.getJSON(url + "&callback=?", null, function(response) {
  rate = response.query.results.rate.Rate;
  exchange = formatCurrency(rate * #{@order.total});
  $('#total_item').text('$'+exchange);
  $('input:hidden[name="total"]').val(exchange);
  $('input:hidden[name="currency"]').val(value);
  });

  function formatCurrency(num) {
  num = isNaN(num) || num === '' || num === null ? 0.00 : num;
  return parseFloat(num).toFixed(2);
  }

  });