%script{type: 'text/javascript'}
  printDivCSS = new String ('<link href="../../assets/application.css" rel="stylesheet" media="all" type="text/css"><link href="../../assets/checkout.css" rel="stylesheet" media="all" type="text/css">')
  function printDiv() {
  console.log($("#purchased")[0]);
  document.body.innerHTML=printDivCSS + $("#purchased")[0].innerHTML;
  window.focus();
  window.print();
  }

.header-info
  %center
    -if @print_oxxo.present?
      %h1 YOUR PURCHASE IS PENDING PAYMENT
    -else
      %h1 YOUR PURCHASE IS COMPLETE

.static-content-purchased
  %center
    .form-contact
      TRANSACTION DETAILS
  =link_to_function("PRINT THIS PAGE", "javascript:print()", class: 'pull-right print_pay')
  .container#purchased
    .row-fluid
      = image_tag 'hallup.png', :class => 'hallup'
    .row-fluid
      .span8.offset1
        #info_item_purchased
          %p
            ITEM:
            = @item
          %p
            DESCRIPTION:
            = @item_description
          %p
            TRANSACTION ID:
            = @reference_id
          %br
          %br
        #info_user_purchased
          %p
            NAME:
            = @name_user
          %p
            MAIL:
            = @name_email
          %br
          %br
        #info_purchased
          %p
            TOTAL AMOUNT:
            = number_to_currency @total
            = @currency
          %p
            DATE:
            = Time.now.strftime("%d/%m/%Y")
          %p
            STATUS:
            -if @print_oxxo.present?
              Pending Payment
            -else
              Paid

        #info_purchased
          %center
            -if @print_oxxo.present?
              = image_tag(@print_oxxo[2], :class => 'oxxo-barcode')
              .row-fluid
                = @print_oxxo[1]
                %br
                EXP.
                = @print_oxxo[0]
    %center
      = image_tag 'halldown.png', :class => 'halldown'
      %br
      .row-fluid#copyright
        = image_tag 'logo-pay.png'
        %br
        THANKS FOR YOUR PURCHASE!
        %br
        Don`t forget to keep sharing your HALLS
  %br
  %center
    = link_to image_tag('BacktoHallist.png'), root_path, :class => 'back_to_hallist'