/%script{type: 'text/javascript'}
/ printDivCSS = new String ('<link href="../../assets/bootstrap.min.css" rel="stylesheet" type="text/css"><link href="../../assets/checkout.css" rel="stylesheet" type="text/css">')
/ function printDiv() {
/ console.log($("#purchased")[0]);
/ document.body.innerHTML=printDivCSS + $("#purchased")[0].innerHTML;
/ window.focus();
/ window.print();
/ }
.header-info
  %center
    %h1 YOUR PURCHASE IS COMPLETE

.static-content-purchased
  %center
    .form-contact
      TRANSACTION DETAILS
  //=link_to("Print this Page", "", :onclick =>"printDiv();", :target => "_blank")
  .container#purchased
    .row-fluid
      = image_tag 'hallup.png', :class => 'hallup'
    .row-fluid
      .span8.offset1
        #info_item_purchased
          %p
            ITEM:
            = @item
          %p
            DESCRIPTION:
            = @item_description
          %p
            TRANSACTION ID:
            = @reference_id
          %br
          %br
        #info_user_purchased
          %p
            NAME:
            = @name_user
          %p
            MAIL:
            = @name_email
          %br
          %br
        #info_purchased
          %p
            TOTAL AMOUNT: US $
            = @total
          %p
            DATE:
            = @item_purchased_date
          %p
            STATUS: PAID
        #info_purchased
          -if @barcode_url.present?
            = image_tag(@barcode_url, :class => 'span12')
            .row-fluid
              .span7
                = @barcode
              .span5
                .pull-right
                  = @expiry_date
    %center
      = image_tag 'halldown.png', :class => 'halldown'
      %br
      .row-fluid#copyright
        = image_tag 'logo.png'
        %br
        THANKS FOR YOUR PURCHASE!
        %br
        Don`t forget to keep sharing your HALLS
  %br
  %center
    = link_to image_tag('BacktoHallist.png'), root_path, :class => 'back_to_hallist'