%h2.large Checkout

.row-fluid
  #order-items.span12
    %h3.bottom-line 1. Your Order
    .row-fluid
      #items-header.span12
        .row-fluid
          .span6
            Item
          .span3
            Quantity
          .span3
            Price
    - @order.order_items.each do |item|
      .line-item.row-fluid
        .item-name.span6
          = item.variant.product.name
        .item-qty.span3
          1
        .span3
          = number_to_currency item.price
    .row-fluid
      #subtotal.span12
        .row-fluid
          .charge-title.span2.offset6
            Sub-total:
          .span3.offset1
            = number_to_currency @order.sub_total || 0
    #shipping-charges.row-fluid
      .charge-title.span3.offset5
        Shipping Charges:
      .span3.offset1
        = number_to_currency @order.shipping_charges

    .row-fluid
      #total.span12
        .row-fluid
          .charge-title.span2.offset6
            Total:
          .span3.offset1
            = number_to_currency @order.total || 0

    .row-fluid
      = form_for [:shopping, @order], html: {class: 'span4'} do |form|
        %h3.bottom-line 2. Shipping Address
        .row-fluid
          %span.help-block
            Please fill your shipping address before checkout.
          = form.label :first_name
          = text_field_tag 'order[ship_address_attributes][first_name]', @order.ship_address.try(:first_name) ,class: 'span12'

          = form.label :last_name
          = text_field_tag 'order[ship_address_attributes][last_name]', @order.ship_address.try(:last_name) ,class: 'span12'

          = form.label :address1, 'Address'
          = text_field_tag 'order[ship_address_attributes][address1]', @order.ship_address.try(:address1) ,class: 'span12'

          = form.label :address2, 'Address Line 2'
          = text_field_tag 'order[ship_address_attributes][address2]', @order.ship_address.try(:address2) ,class: 'span12'

          = form.label :country, "Country"
          = country_select_tag 'order[ship_address_attributes][country]', {priority: %w(US CA MX), prompt: 'Please select a country'}, {class: 'span12'}

          = form.label :city
          = text_field_tag 'order[ship_address_attributes][city]', @order.ship_address.try(:city) ,:class => 'span12'

          = form.label :zip_code
          = text_field_tag 'order[ship_address_attributes][zip_code]', @order.ship_address.try(:zip_code) ,:class => 'span12'


    .row-fluid
      .span12
        %h3.bottom-line 3. Select your payment method

    .row-fluid
      .span12
        - payment_service_for @order.id, '1936887',
            :amount => @order.total,
            :service => :two_checkout,
            :credential2 => 'tango',
            :html => { :id => 'payment-form', :target => 'tco_lightbox_iframe' } do |service|

          - @order.order_items.each do |item|
            - service.auto_settle :prod => "#{item.variant.product.id}-#{item.variant.product.name}",
              :price => item.price,
              :name => item.variant.product.name


    .row-fluid
      .span12
        = link_to  image_tag('credit_card2.png', :width => 80, :height => 80), '', :class => 'checkout-button checkout-disabled pago'
        = render partial: 'shopping/checkout/checkout_modal', :locals => {:order => @order}


%script{:src => "https://www.2checkout.com/static/checkout/javascript/direct.min.js"}
- content_for :javascript do
  $('#number').validateCreditCard(function(result){
  if(result.card_type != null) {
  if(result.card_type.name == 'amex') {
  $('ul.cards li.visa').addClass('not-selected')
  $('ul.cards li.mastercard').addClass('not-selected')
  $('ul.cards li.discover').addClass('not-selected')
  }
  if(result.card_type.name == 'visa') {
  $('ul.cards li.amex').addClass('not-selected')
  $('ul.cards li.mastercard').addClass('not-selected')
  $('ul.cards li.discover').addClass('not-selected')
  }
  if(result.card_type.name == 'discover') {
  $('ul.cards li.visa').addClass('not-selected')
  $('ul.cards li.mastercard').addClass('not-selected')
  $('ul.cards li.amex').addClass('not-selected')
  }
  if(result.card_type.name == 'mastercard') {
  $('ul.cards li.visa').addClass('not-selected')
  $('ul.cards li.amex').addClass('not-selected')
  $('ul.cards li.discover').addClass('not-selected')
  }
  } else {
  $('ul.cards li').removeClass('not-selected')
  }
  });

  $('#order_ship_address_attributes_country').change(function(){
  select_wrapper = $('#ship_state_code_wrapper');
  $('select', select_wrapper).attr('disabled', true);
  country_code = $(this).val();
  url = "/subregion_options?parent_region=" + country_code + "&form_address_object=order[ship_address_attributes]";
  select_wrapper.load(url);
  $('em.missing-state').hide();
  });

  $('#order_bill_address_attributes_country').change(function(){
  select_wrapper = $('#bill_state_code_wrapper');
  $('select', select_wrapper).attr('disabled', true);
  country_code = $(this).val();
  url = "/subregion_options?parent_region=" + country_code + "&form_address_object=order[bill_address_attributes]";
  select_wrapper.load(url);
  });