!!!5
%html{class: controller_name}
  %head
    %title
      Hallist

    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %link{:href => 'http://fonts.googleapis.com/css?family=Open+Sans', :rel => 'stylesheet', :type =>'text/css'}
    = stylesheet_link_tag 'application'
    = csrf_meta_tag
    = global_meta_tags(@fbgraph_object) if @fbgraph_object
    = yield :head


  %body{:class => detect_browser_os}
    .container-fluid#header
      = render partial: 'shared/header'

    .container-fluid#banner
      = render partial: 'welcome/index'

    .container-fluid
      .container.dotted-line
        %h2#recent Recent Artworks

    .container-fluid
      #content.row-fluid
        %div{id: 'fb-root'}
        .span12
          %div
          = yield

    .container-fluid#footer
      .footer-sroll-top.row
        %p{id: 'back-top'}
          %a{'href'=>'#top'}
            %span
      = render partial: 'shared/footer'


#cart-popover-content.hide
  = render partial: 'shared/cart'

- if current_user.user
  = render partial: 'shared/collection_modals'

= render partial: 'shared/login_modal'

#artwork-details-modal.modal.hide.fade{'data-dynamic' => 'true'}

= javascript_include_tag 'application'
%script{type: 'text/javascript', src: '//assets.pinterest.com/js/pinit.js'}
%script{type: 'text/javascript'}
  window.resize = true;
  window.fb_app_id = '#{FACEBOOK_KEY}';

  = yield :javascript

  - if current_user.user
    window.current_user = #{current_user.user.to_json.html_safe};
  - else
    window.current_user = null;


  marginCalculation = (($(window).width() - $('.span12').width())/2);

  marginCarouselCalculation = (($(window).width() - $('ul.carousel-container').width())/2);
  $('ul.carousel-container').css('margin-left', marginCarouselCalculation + 'px');

  !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");

  - if alert
    $.jGrowl("#{alert}");
  - if notice
    $.jGrowl("#{notice}");